/* .heading{
   text-decoration: underline;
}


li > button >  a{
    text-decoration: none;
    color: white;
       
}



button > a::after{
    content: " ";
    display: block;
    position: relative;
    overflow: hidden !important;
    height: 4px;
    width: 100%;
    background-color: gold;
    transform:  scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

button > a:hover::after{
    transform: scaleX(1);
    overflow: hidden !important;
  
} */


/* body {
    background-image: url("https://media.licdn.com/dms/image/D4D12AQFQQwy3Fo_6OA/article-cover_image-shrink_720_1280/0/1695123612065?e=2147483647&v=beta&t=DBsXihNE3uTDYyhV2bOT2PxMEXZmtJG8hdflr3wyfxc");
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.box a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
}

.box a:hover {
    color: #ffc107;
} */


body {
    background-image: url("https://media.licdn.com/dms/image/D4D12AQFQQwy3Fo_6OA/article-cover_image-shrink_720_1280/0/1695123612065?e=2147483647&v=beta&t=DBsXihNE3uTDYyhV2bOT2PxMEXZmtJG8hdflr3wyfxc");
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.box a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
}

.box a:hover {
    color: #ffc107;
}
