body {
    background-image: url("https://media.licdn.com/dms/image/D4D12AQFQQwy3Fo_6OA/article-cover_image-shrink_720_1280/0/1695123612065?e=2147483647&v=beta&t=DBsXihNE3uTDYyhV2bOT2PxMEXZmtJG8hdflr3wyfxc");
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.box a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
}

.box a:hover {
    color: #ffc107;
}


@media screen and (max-width:500px){
    .switch{
        justify-content: center !important;
    }
    
}

@media screen and (max-width:400px){
    .switch{
        justify-content: center !important;
    }
    
}

@media screen and (max-width:350px){
    .switch{
        justify-content: center !important;
    }
    
}

@media screen and (max-width:100px){
    .switch{
        justify-content: center !important;
    }
    
}